@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Flickipedia</h1>
    <p>Navigate Flickipedia to learn more about your favorite films and actors!</p>

    <div id="carouselAuto" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-pause=false data-bs-interval="4500">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/barbieposter.jpg" class="d-block w-25 mx-auto" alt="Barbie (2023)">
            </div>
            <div class="carousel-item">
                <img src="~/images/avengerseg2.jpg" class="d-block w-25 mx-auto" alt="Avengers: Endgame (2019)">
            </div>
            <div class="carousel-item">
                <img src="~/images/itonta.jpg" class="d-block w-25 mx-auto" alt="I, Tonya (2017)">
            </div>
            <div class="carousel-item">
                <img src="~/images/drstrange2.jpg" class="d-block w-25 mx-auto" alt="Doctor Strange (2016)">
            </div>
            <div class="carousel-item">
                <img src="~/images/thenotebook.jpg" class="d-block w-25 mx-auto" alt="The Notebook (2004)">
            </div>
            <div class="carousel-item">
                <img src="~/images/eeaao.jpg" class="d-block w-25 mx-auto" alt="Everything Everywhere All at Once (2022)">
            </div>
            <div class="carousel-item">
                <img src="~/images/eternals.jpg" class="d-block w-25 mx-auto" alt="Eternals (2021)">
            </div>

        </div>
    </div>
</div>

